- alias: 'IFTTT'
  id: a0001
  hide_entity: true
  initial_state: true
  trigger:
    platform: event
    event_type: ifttt_webhook_received
    event_data:
      action: call_service
  action:
    service_template: '{{ trigger.event.data.service }}'
    data_template:
      entity_id: '{{ trigger.event.data.entity_id }}'

- alias: "Power state on HA start-up"
  id: a0002
  trigger:
    platform: homeassistant
    event: start
  action:
    - service: mqtt.publish
      data:
        topic: "cmnd/tasmotas/state"
        payload: ""
    - service: mqtt.publish
      data:
        topic: "cmnd/tasmotas/POWER"
    # - service: mqtt.publish
    #   data:
    #     topic: cmnd/tasmotas/POWER2
    # - service: mqtt.publish
    #   data:
    #     topic: cmnd/tasmotas/POWER3 

# - alias: "Create Groups"
#   id: a0003
#   trigger:
#     platform: homeassistant
#     event: start
#   action:
#     - service: group.set
#       data_template:
#         object_id: "all_lights"
#         entities: "{{ states.light |  map(attribute='entity_id') | join(',') }}"
#     - service: group.set
#       data_template:
#         object_id: "all_devices"
#         entities: "{{ states.device_tracker |  map(attribute='entity_id') | join(',') }}"