
homeassistant:
  name: !secret name
  latitude: !secret lat
  longitude: !secret long
  elevation: !secret elevation
  unit_system: metric
  time_zone: !secret timezone
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

frontend:
  themes: !include_dir_merge_named themes/
logger:
  default: warning
  logs:
    custom_components.harmony_ac.climate: debug
    homeassistant.components.shell_command: debug


############ Merged Files ############
automation: !include automations.yaml
recorder: !include extra_config/recorder.yaml
sensor: !include_dir_merge_list extra_config/sensors/
binary_sensor: !include_dir_merge_list extra_config/binary_sensors/
switch: !include_dir_merge_list extra_config/switches/
light: !include_dir_merge_list extra_config/lights/
cover: !include_dir_merge_list extra_config/covers/
climate: !include_dir_merge_list extra_config/climate/ 
script: !include_dir_merge_named extra_config/scripts/
input_number: !include extra_config/input/input_number.yaml
input_boolean: !include extra_config/input/input_boolean.yaml
# google_assistant: !include extra_config/google_assistant.yaml


############ Device Trackers ############
device_tracker:
  - platform: unifi_direct
    host: !secret unifi_ip
    username: !secret unifi_user
    password: !secret unifi_pw
    consider_home: 180
    new_device_defaults:
      track_new_devices: False
# person:


############ Cameras ############
camera:
  - platform: ffmpeg
    input: !secret cam1
    name: Study
  - platform: ffmpeg
    input: !secret cam2
    name: Nursery
  - platform: ffmpeg
    input: !secret cam3
    name: Kitchen
  - platform: ffmpeg
    input: !secret cam4
    name: dafang1
  - platform: ffmpeg
    input: !secret cam5
    name: dafang2


############ Notifications ############
notify:
  - name: html5
    platform: html5
    vapid_pub_key: !secret vapid_pub_key
    vapid_prv_key: !secret vapid_prv_key
    vapid_email: !secret vapid_email
  - name: gmail
    platform: smtp
    server: smtp.gmail.com
    port: 587
    timeout: 15
    sender: !secret smtp_email
    encryption: starttls
    username: !secret smtp_email
    password: !secret smtp_pw
    recipient:
      - !secret smtp_recipient1
    sender_name: My Home Assistant


############ Shell ############
shell_command:
  reboot_router: !secret shell_router
  server_on: !secret shell_server_on
  server_off: !secret shell_server_off


############ Weather ############
weather:
  - platform: bom
    station: !secret bom_station


############ Fan ############
fan:
  - platform: mqtt
    name: "Diffuser"
    availability_topic: "tele/diffuser01/LWT"
    payload_available: "Online"
    payload_not_available: "Offline"
    state_topic: "stat/diffuser01/POWER"
    command_topic: "cmnd/diffuser01/POWER"
    speed_state_topic: "stat/diffuser01/FAN"
    payload_low_speed: low
    payload_high_speed: high
    speed_command_topic: "cmnd/diffuser01/Event"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    speeds:
      - low
      - high
      

############ Zones ############
zone:
  - name: Work
    latitude: !secret lat1
    longitude: !secret long1
    icon: mdi:briefcase
  - name: Work
    latitude: !secret lat2
    longitude: !secret long2
    icon: mdi:briefcase
  - name: Gym
    latitude: !secret lat3
    longitude: !secret long3
    icon: mdi:dumbbell
    radius: 50
  - name: Gym
    latitude: !secret lat4
    longitude: !secret long4
    icon: mdi:dumbbell
    radius: 50


############ Vacuum ############
vacuum:
  - platform: xiaomi_miio
    host: !secret vacuum_ip
    token: !secret vacuum_token


python_script:

timer:
  main_ac:
  main_tv:
  bedroom_ac:
  bedroom_tv:
  
