
homeassistant:
  name: !secret name
  latitude: !secret lat
  longitude: !secret long
  elevation: !secret elevation
  unit_system: metric
  time_zone: !secret timezone
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

# themes for frontend
frontend:
  themes: !include_dir_merge_named themes/

# logging
logger:
  default: warning
  logs:
    custom_components.harmony_ac.climate: debug
    homeassistant.components.shell_command: debug

# Merged Folders
script: !include_dir_merge_named extra_config/scripts/
sensor: !include_dir_merge_list extra_config/sensors/
switch: !include_dir_merge_list extra_config/switches/

# Merged Files
automation: !include automations.yaml
binary_sensor: !include extra_config/binary_sensor.yaml
camera: !include extra_config/camera.yaml
climate: !include extra_config/climate.yaml
cover: !include extra_config/cover.yaml
# device_tracker: !include extra_config/device_tracker.yaml
fan: !include extra_config/fan.yaml
google_assistant: !include extra_config/google_assistant.yaml
group: !include extra_config/groups.yaml
input_boolean: !include extra_config/input_boolean.yaml
input_number: !include extra_config/input_number.yaml
light: !include extra_config/light.yaml
notify: !include extra_config/notify.yaml
recorder: !include extra_config/recorder.yaml
shell_command: !include extra_config/shell.yaml
timer: !include extra_config/timer.yaml
vacuum: !include extra_config/vacuum.yaml
weather: !include extra_config/weather.yaml
zone: !include extra_config/zone.yaml
