homeassistant:
  name: !secret name
  latitude: !secret lat
  longitude: !secret long
  elevation: !secret elevation
  unit_system: metric
  time_zone: !secret timezone
  customize: !include customize.yaml

# logger:
      
# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  api_password: !secret http_pw
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  base_url: !secret url

  
updater:
# discovery:
hassio:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

history:
  exclude:
    domains:
      - automation
      - weblink
      - updater
      - script
    entities:
      - sensor.last_boot
      - sensor.since_last_boot
      - sensor.date

logbook:
  exclude:
    entities:
      - sensor.last_boot
      - sensor.since_last_boot
      - sensor.date
      - automation.home_server_on
      - automation.home_server_off
      - automation.samsung_tv_on
      - automation.samsung_tv_off
      - automation.ps4_on
      - automation.ps4_off
      - automation.harmony_input_selection
      - automation.harmony_off
      - automation.harmony_activity_sync
      - automation.fujitsu_selection_cool_20
      - automation.fujitsu_selection_off
    domains:
      - sun
      - weblink

sun:

# Text to speech
tts:
  platform: google

light:
  - platform: lifx
    #server: !secret hass_ip
             
ifttt:
  key: !secret ifttt_key
  
# emulated_hue:
  # host_ip: !secret hass_ip
  # listen_port: 80
  # expose_by_default: false

google_assistant:
  project_id: !secret ga_proj
  client_id: !secret ga_client
  access_token: !secret ga_token
  agent_user_id: !secret ga_user
  api_key: !secret ga_api
  expose_by_default: false
  entity_config:
    switch.table_lamp:
      expose: true
    switch.fairy_lights:
      expose: true
    light.gateway_light_34ce0088ebdb:
      expose: true

xiaomi_aqara:
  discovery_retry: 5
  gateways:
    - host: !secret aqara_ip
      mac: !secret aqara_mac
      key: !secret aqara_key

input_boolean:      
  holiday_mode:
    name: Holiday Mode
    initial: off
    icon: mdi:airplane
  lights_notifications:
    name: Lights Notifications
    initial: off
    icon: mdi:flash

input_select:
  harmony:
    name: Current Activity
    options:
      - Watch TV
      - Watch TV with Surround
      - Watch Fetch
      - Watch Netflix
      - Play PS4
      - Power Off
    icon: mdi:remote
  aircon:
    name: Mode
    options:
      - Select...
      - Cool Auto 20
      - 'Off'
    icon: mdi:snowflake

remote:
  - platform: harmony
    name: Living Room
    host: !secret harmony_ip
    activity: 13474528

media_player:
  # - platform: cast
  - platform: samsungtv
    host: !secret samsungtv_ip
    name: Samsung TV
    mac: !secret samsungtv_mac
  - platform: braviatv
    host: !secret bravia_host
  # - platform: ps4
    # host: !secret ps4_host
    # ps4_ip: !secret ps4_ip
    # name: PlayStation 4
    # local_store: games

notify:
  - name: html5
    platform: html5
    gcm_api_key: !secret gcm-sender-key
    gcm_sender_id: !secret gcm-sender-id
  - name: gmail
    platform: smtp
    server: smtp.gmail.com
    port: 587
    timeout: 15
    sender: !secret smtp_email
    encryption: starttls
    username: !secret smtp_email
    password: !secret smtp_pw
    recipient:
      - !secret smtp_recipient1
    sender_name: My Home Assistant    

device_tracker:
  - platform: asuswrt
    host: !secret asus_ip
    username: !secret asus_user
    # password: !secret asus_pw
    ssh_key: !secret asus_key
    protocol: ssh
    port: 22
    consider_home: 300
    new_device_defaults:
      track_new_devices: False
      hide_if_away: False

shell_command:
  server_shutdown: !secret server_shutdown

#other folders/files to merge with this configuration
sensor: !include_dir_merge_list sensors/
switch: !include_dir_merge_list switches/
script: !include_dir_merge_named scripts/
automation: !include_dir_merge_list automations/
group: !include groups.yaml
# device_tracker: !include_dir_merge_list device_trackers/
# shell_command: !include_dir_merge_named shell_command/
# remote: !include_dir_merge_list remotes/
# media_player: !include_dir_merge_list media_players/    
# input_select: !include_dir_merge_named input_select/
# input_boolean: !include_dir_merge_named input_boolean/
# zone: !include_dir_merge_list zones/
# notify: !include_dir_merge_list notify/


# ios:

# ffmpeg:
  # ffmpeg_bin: /usr/bin/avconv
  
# camera:
  # - platform: ffmpeg
    # input: -rtsp_transport tcp -i rtsp://192.168.0.32/unicast
    # name: Cam_Study

# zone:
  # - name: Nicks Work
   # latitude: !secret lat1
   # longitude: !secret long1
   # icon: mdi:briefcase
  # - name: Ashleis Work
   # latitude: !secret lat2
   # longitude: !secret long2
   # icon: mdi:briefcase